.section-navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 25px;
}
.our-amazing-work {
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 100px;
  font-family: Montserrat, sans-serif;
  background-color: #f8fcfe;
}
.amazing-work-navbar-wrapper {
  width: 610px;

}

.amazing-work-navbar-item {

  width: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.amazing-work-navbar-item:hover {
  border-top: 2px solid #18cfab;
}

.amazing-work-navbar-item.active {
  border-top: 2px solid #18cfab;
}

.amazing-work-gallery {
  display: flex;
  flex-wrap: wrap;

}
.hidden-gallery {
  /*display: flex;*/
  /*flex-wrap: wrap;*/

}

.gallery-content {
  position: relative;
  display: none;
}
.gallery-content.active {
  display: block;
}

.gogi{
  display: block;
}

.hidden {
  display: none;
}

.block {
  position: absolute;
  top: 0;
  right: 0;
  width: 285px;
  height: 207px;
  background-color: #ffffff;
}
